.card-item {
  max-width: 450px;
  height: 270px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 2;

  @media (max-width: 480px) {
    max-width: 310px;
    height: 220px;
  }

  @media (max-width: 360px) {
    height: 180px;
  }

  &.-active {
    .card-item__side.-front {
      transform: rotateY(180deg);
    }

    .card-item__side.-back {
      transform: rotateY(0deg);
    }
  }

  /* SIDE BASE */
  &__side {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    box-shadow: 0 5px 16px rgba(14, 42, 84, 0.55);

    &.-back {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateY(-180deg);
    }
  }

  /* BACKGROUND */
  &__cover {
    position: absolute;
    inset: 0;
    background: #1c1d27;

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(6, 2, 29, 0.45);
    }
  }

  &__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* WRAPPER */
  &__wrapper {
    position: relative;
    z-index: 2;
    padding: 25px 15px;
    height: 100%;
    color: white;
    font-family: "Source Code Pro", monospace;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }

  /* TOP */
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  &__chip {
    width: 55px;
  }

  &__type {
    width: 90px;
    display: flex;
    justify-content: flex-end;
  }

  &__typeImg {
    width: 100%;
    object-fit: contain;
  }

  /* NUMBER */
  &__number {
    font-size: 22px;
    margin-bottom: 30px;
    display: block;
    letter-spacing: 2px;
  }

  &__numberItem {
    display: inline-block;
    width: 14px;
  }

  /* HOLDER + DATE */
  &__content {
    display: flex;
    align-items: flex-start;
  }

  &__info {
    max-width: 70%;
  }

  &__holder {
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 5px;
  }

  &__name {
    font-size: 16px;
    text-transform: uppercase;
  }

  &__nameItem {
    display: inline-block;
  }

  &__date {
    margin-left: auto;
    font-size: 14px;
    text-align: right;
  }

  &__dateTitle {
    font-size: 12px;
    opacity: 0.7;
  }

  &__dateItem {
    display: inline-block;
    min-width: 20px;
  }

  /* BAND (BACK SIDE) */
  &__band {
    background: rgba(0, 0, 0, 0.85);
    height: 45px;
    margin-top: 30px;
  }

  /* CVV */
  &__cvv {
    padding: 15px;
    text-align: right;
  }

  &__cvvTitle {
    font-size: 14px;
    margin-bottom: 5px;
    color: white;
  }

  &__cvvBand {
    background: #fff;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    border-radius: 4px;
    color: #1a3b5d;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

/* FORM ANIMATIONS FIXES */
.slide-fade-up-enter {
  opacity: 0;
  transform: translateY(10px);
}

.slide-fade-up-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.25s ease;
}

.slide-fade-right-enter {
  opacity: 0;
  transform: translateX(10px);
}

.slide-fade-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: 0.25s ease;
}

.zoom-in-out-enter {
  opacity: 0;
  transform: scale(2);
}

.zoom-in-out-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: 0.25s ease;
}